<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a (click)="getCurrentACtiveLink()" mat-list-item [activated]="this.currentActive.includes('main')" routerLink="dashboard/main"><mat-icon  matListItemIcon>home</mat-icon> Main</a>
      <a (click)="getCurrentACtiveLink()" mat-list-item routerLink="/dashboard/patients"[activated]="this.currentActive.includes('/patient')"> <mat-icon  matListItemIcon>personal_injury</mat-icon> Patient</a>
      <a (click)="getCurrentACtiveLink()" mat-list-item routerLink="/dashboard/doctors" [activated]="this.currentActive.includes('/doctor')" > <mat-icon  matListItemIcon>diversity_1</mat-icon> Doctor</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Hospital-Management-System</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="m-5">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
